body {
}

#container {
	width: 760px;
	height: auto;
	margin: auto;
}

#menu {
	width: 760px;
	height: 50px; 
}

header {
	width: 760px;
	height: 150px;
	background: url("../lorena/banner-curs.png") no-repeat;
	background-size: 100% 100%;
	position: relative;
}

header div {
	width: 200px;
	position: absolute;
	bottom: 2px;
	right: 10px;
}

#content {
	float: left;
	width: 480px;
	height: auto;
	min-height: 200px;
}

#sidebar {
	float: right;
	width: 280px;
	height: auto;
	min-height: 200px;
}

footer {
	height: 66px;
	width: 760px;
	clear: both;
}

#logo {
	position: fixed;
	bottom: 200px;
	left: 5px;
}